{% extends 'base.html' %} {% load static %}

  {% block header %}

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Du gras, oui, mais de qualité</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Barre de recherche, titre h2 à insérer au dessus!</p>
            
          </div>
        </div>
      </div>
    </header>

  {% endblock %}

  {% block body %}
    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Colette et Remy</h2>
            <hr class="light my-4">
            <h3 class="text-faded mb-4">Les rois de la ratatouille</h3>

          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-xs-12 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="{% static 'app_purbeurre/img/colette.jpg' %}" alt="colette" class="rounded colette">
              <h3 class="mb-3">Colette</h3>
            </div>
          </div>
          <div class="col-lg-6 col-xs-12 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="{% static 'app_purbeurre/img/remy.jpg' %}" alt="rémy" class="rounded remy">
              <h3 class="mb-3">Rémy</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}


  {% block footer %}
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Contactez-nous !</h2>
            <hr class="my-4">
            <p class="mb-5">N'attendez pas, reprenez votre alimentation en main.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
            <p>03-11-12-67-67</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
            <p>
              <a href="mailto:your-email@your-domain.com">contact@purbeurre.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}