{% extends 'base.html' %} {% load static %}

{% block header %}

<div class="jumbotron text-center text-white mini-header" style="background-image:url('{{ details_prod.img }}')">
  <img class="img-responsive">
  <div class="container my-auto bg-title">
      <h1>{{ details_prod.name }}</h1>

  </div>
</div>
{% endblock %}

{% block body %}

    <div class="details">



    <div class="text-center">
        <strong> Nutriscore</strong> : <h1>{{ details_prod.nutrition_grade }}</h1>
    </div>

    <div class="text-center">
        <h3>Informations nutritionelles : </h3>
        <img src ={{ details_prod.rep_nutritionnel }}>
    </div>

    <div class="text-center">
        <a href={{ details_prod.url }}>Voir la fiche openfoodfacts</a>
        <br>
        <br>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-4 offset-md-5 mx-auto " id="comform">

            {% if com_prod %}
            <h2>L'avis des consommateurs</h2>
            <ul>
                {% for n in com_prod %}
                <p> {{ n.com }}  </p
                {% endfor %}
            {% endif %}
            </ul>
            <form class="form-group ui-widget col-md-12 col-md-offset-5 text-center searchbox" role="form" method="post" action="{% url 'add_com' prod=details_prod %}">
                {{ com }}
                {% csrf_token %}
                <button type=”submit” class="btn btn-sm btn-submit button-form">Commenter</button>
            </form>
        </div>


</div>




{% endblock %}
